<nav-bar></nav-bar>
        <!--Form-->
        <mat-card class="formation">
        <form  ngForm #f="ngForm" (ngSubmit)="submit(f)">
          <mat-form-field>
            <input
               matInput
               name="email" 
               id="email" 
               type="email"
               placeholder="E-mail">
              </mat-form-field>
              <mat-form-field>
                  <input 
                  matInput
                  id="password" 
                  type="password" 
                  placeholder="Password">
              </mat-form-field>
          <mat-checkbox class="full">Remember Me</mat-checkbox>
          <button mat-raised-button color="accent" type="submit" >Submit</button>
        </form>
      </mat-card>
        <!--FORM-->